.favorite-page {
  .favorite-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;

    p {
      margin-right: 10px;
    }

    button {
      background-color: #e74c3c;
      color: #fff;
      border: none;
      padding: 5px 10px;
      cursor: pointer;

      &:hover {
        background-color: #c0392b;
      }
    }
  }
}
