.mediaBtn {
  display: flex;
  align-items: center;
  padding: 9px;
  margin: 15px auto;
  width: 370px;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;

  h4 {
    margin: 0 80px;
  }
}
