.register {
    text-align: center;
    width: 25%;
    padding: 20px;
    margin: 90px auto;
}

.registerBtn {
    width: 270px;
    padding: 10px;
    cursor: pointer;
    margin-top: 25px;
    outline: none;
    font-size: 15px;
    color: #fff;
    border: 1px solid #aaa;
    background-color: #07bb2e;
}

.registerBtn:hover {
    background-color: #059c26;
}

.signup {
    text-align: center;
    padding: 0 6px;
    color: #666;
}

.registerForm {
    margin-top: 10px;
}

.div1 {
    margin-top: 15px;
}

.div2 {
    margin-top: 10px;
}